*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/03/28/11/57/amman-2181880_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    visibility: hidden;
    backdrop-filter: blur(3px);
}

.one{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.one i, .one h1 {
    font-size: 2em;
}

.seeBox{
    visibility: visible;
}